.appHeader{
    font-size: 2rem;
    padding: 24px;
}
.inputsBlock{
    display: block;
    height: 50px;
    padding: 12px;
    outline: none;
    width: 50%;
    font-weight: 600;
    margin-top: 12px;
    border: 2px solid black;
}
.contact_block{
    padding: 12px;
    margin-bottom: 12px;
    border: 2px solid black;
    width: 50%;
}